/* Global style */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: black;
    color: white;
}

.custom-red {
    background-color: #BD3C31;
}

/* Navigation bar */

.active_page {
    background-color: #BD3C31;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
  
/* Footer */

footer i {
    font-size: 200%;
    padding: 3%;
    color: #BD3C31
}

.btn-danger {
    background-color: #BD3C31;
}

#red_dragon {
    width: 35%;
}


/* Media query max width 760px for tablets devices */
@media screen and (max-width: 768px) {
    #red_dragon {
        width: 60%;
    }
}

/* Media query max width 480px for small mobile devices */
@media screen and (max-width: 480px) {
    #red_dragon {
        width: 70%;
    }
}

/* Media query max width 320px for small mobile devices */
@media screen and (max-width: 320px) {
    #red_dragon {
        width: 80%;
    }
}