{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-12 py-5 mx-auto">
            <img class="img-fluid rounded"
                src="https://res.cloudinary.com/ddwgmv42x/image/upload/v1638819691/maps_location_j1v0ih.png" alt="">
        </div>

        <div class="row">
            <div class="col-md-6 col-12 mx-auto">
                <div class="contact_icons">
                    <i class="fas fa-phone px-5"></i>
                    <i class="fas fa-envelope px-5"></i>
                    <i class="far fa-clock px-5"></i>
                    <i class="fas fa-map-marker-alt px-5"></i>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 py-5">
                <form method="POST" class="w-75 mx-auto" action="https://formdump.codeinstitute.net/">
                    <label for="full_name" class="form-label">Full Name</label>
                    <input type="text" class="form-control text_input" name="full_name" id="full_name" required>

                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control text_input" name="email_address" id="email" required>

                    <label for="message">Your message</label>
                    <textarea class="form-control" name="message" id="message" rows="3"></textarea>

                    <button type="submit" class="btn custom-red text-white mx-auto d-block my-3">
                        Submit Message
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}