{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

        <div class="container">
            <div class="row text-center my-5">
                <h1>Create Profile</h1>
            </div>
            <div class="row text-center">
                <div class="col-6">
                    <h4>First Name:</h4>
                </div>
                <div class="col-6">
                    <p class="d-inline">{{ user.userprofile.first_name }}</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-6">
                    <h4>Last Name:</h4>
                </div>
                <div class="col-6">
                    <p>{{ user.userprofile.last_name }}</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-6">
                    <h4>Telephone Number:</h4>
                </div>
                <div class="col-6">
                    <p>{{ user.userprofile.phone_number}}</p>
                </div>
            </div>


    {% else %}
    Please login to edit your profile

    {% endif %}

{% endblock %}