{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}


{% if user.is_authenticated %}
<div class="container">
    <div class="row text-center my-5">
        <h1>Edit Profile</h1>
    </div>
    <div class="row text-center">
        <div class="col-6">
            <h4>First Name:</h4>
        </div>
        <div class="col-6">
            <p class="d-inline">{{ user.userprofile.first_name }}</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-6">
            <h4>Last Name:</h4>
        </div>
        <div class="col-6">
            <p>{{ user.userprofile.last_name }}</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-6">
            <h4>Telephone Number:</h4>
        </div>
        <div class="col-6">
            <p>{{ user.userprofile.phone_number}}</p>
        </div>
    </div>


    <div class="w-75 mx-auto py-5">
        <form class="row g-3" method="post">
            {% csrf_token %}
            
            {{ Edit_ProfileForm | crispy }}
            <!-- <div class="col-6">
                <label for="f_name">First Name</label>
                <input type="text" class="form-control" id="f_name" name="f_name">
            </div>
    
            <div class="col-6">
                <label for="l_name">Last Name</label>
                <input type="text" class="form-control" id="l_name" name="l_name">
            </div>
    
            <div class="col-6 mx-auto">
                <label for="phone_number">Telephone Number</label>
                <input type="tel" class="form-control" id="phone_number" name="phone_number" minlength="11" maxlength="11">
            </div>
     -->
            <div class="col-12 text-center">
                <button type="submit" value="Update" class="btn custom-red text-white">Update Profile</button>
            </div>
        </form>
    </div>

    {% else %}
    Please login to edit your profile

    {% endif %}

    {% endblock %}