{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container text-center custom-red mt-5">
    <div class="row my-3">
        <div class="col-12">
            <h1>Booking Details</h1>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-6">
            <h5>Booking Status:</h5>
        </div>
        <div class="col-6">
            <p> {% if booking.status == 1 %}
                Booking Accepted
                {% else %}
                Booking Requested
                {% endif %}</p>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-4">
            <h5>Booking Reference:</h5>
        </div>
        <div class="col-4">
            <p>{{ booking.booking_id}}</p>
        </div>
        <div class="col-4">
        </div>
    </div>

    <div class="row my-3">
        <div class="col-4">
            <h5>Booking Date:</h5>
        </div>
        <div class="col-4">
            <p>{{ booking.booking_date }}</p>
        </div>
        <div class="col-4">
            <p>change</p>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-4">
            <h5>Booking Time:</h5>
        </div>
        <div class="col-4">
            <p>{{ booking.booking_time }}</p>
        </div>
        <div class="col-4">
            <p>change</p>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-4">
            <h5>Guest Count:</h5>
        </div>
        <div class="col-4">
            <p>{{ booking.guest_count }}</p>
        </div>
        <div class="col-4">
            <p>change</p>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-4">
            <h5>Comments:</h5>
        </div>
        <div class="col-4">
            <p>{{ booking.booking_comments}}</p>
        </div>
        <div class="col-4">
            <p>change</p>
        </div>
    </div>
</div>


<div class="container text-center custom-red mt-5">
    <div class="row my-3">
        <div class="col-12">
            {% if user.is_authenticated %}
            <form method="post"></form>
            {{ Update_BookingDetails | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn custom-red text-white">Submit Changes</button>
            {% endif %}
        </div>
    </div>
</div>

{%endblock%}