{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="row">
                <img class="w-75 mx-auto" id="banner"
                    src="https://res.cloudinary.com/ddwgmv42x/image/upload/v1638818635/banner_psdzym.jpg"
                    alt="homepage_banner">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <a class="nav-link text-white btn btn-danger mx-auto mt-5 d-block fit-width"
                    href="{% url 'online_booking' %}">
                    Book Now
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mt-3">
                <div class="w-75 mx-auto mt-2 text-center">
                    <h3>
                        Welcome to Top Chef, founded in 1975 by father and son.
                    </h3>

                    <br>

                    <p>Our Chinese cuisine emphasizes the integrity of color, fragrance and taste in its food. Our chefs
                        try to
                        make dishes beautiful by coordinating their colors. Some dishes are plain while others can be
                        very
                        bright. A table of Chinese food looks very colorful and attractive
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <img id="red_dragon"
                    src="https://res.cloudinary.com/ddwgmv42x/image/upload/v1638818639/red_dragon_os7gdk.png"
                    alt="red_dragon" class="mt-3 mx-auto d-block">
            </div>
        </div>
    </div>
</div>

{% endblock %}