{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center text-decoration-underline py-3">Manage my Bookings</h2>
        </div>
    </div>
    {{ booking.booking_date }}
    {% for booking in booking_list %}
    <div class="row">
        <div class="col-12">
            <table class="table text-white text-center mt-5">
                <thead>
                    <tr>
                        <th scope="col">Booking Reference:</th>
                        <th scope="col">Booking Date:</th>
                        <th scope="col">Booking Time:</th>
                        <th scope="col">Guest Count:</th>
                        <th scope="col">Booking Status:</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ booking.booking_id }}</td>
                        <td>{{ booking.booking_date }}</td>
                        <td>{{ booking.booking_time }}</td>
                        <td>{{ booking.guest_count }}</td>
                        <td>{{ booking.status }}</td>
                        <td>
                            <a href="{% url 'edit_booking' booking.booking_id %}">
                                <button class="btn custom-red text-white" type="submit">
                                    Change Booking Details
                                </button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}