{% extends "base.html" %}
{% block content %}

<div class="container">
  <h1 class="text-center text-decoration-underline py-3 ">Menu</h1>
  <p class="text-center">Tues, Weds, Thurs, Fri, Sat, Sun, 2pm-11pm</p>

  <div class="row">
    <div class="col-md-4 col-12 text-center">
      <h3 class="text-decoration-underline py-3">Appetisers</h3>
      <ul class="list-group">
        <li class="list-group-item custom-red text-white">House Special Start Combination</li>
        <li class="list-group-item custom-red text-white">Emperor's Hot Platter Combitnation</li>
        <li class="list-group-item custom-red text-white">Crispy Wan Ton</li>
        <li class="list-group-item custom-red text-white">Sesame Prawn on Toast</li>
        <li class="list-group-item custom-red text-white">Peking Spring Rolls</li>
        <li class="list-group-item custom-red text-white">Vegetarian Spring Rolls</li>
        <li class="list-group-item custom-red text-white">Sate Chicken</li>
        <li class="list-group-item custom-red text-white">Sate Fillet Beef</li>
        <li class="list-group-item custom-red text-white">Sate Prawns</li>
        <li class="list-group-item custom-red text-white">Spicy Spare Ribs</li>
        <li class="list-group-item custom-red text-white">Mixed Vegetable Samosas</li>
        <li class="list-group-item custom-red text-white">Butterfly King Prawn Breadcrumb</li>
        <li class="list-group-item custom-red text-white">Deep Fried Squid</li>
        <li class="list-group-item custom-red text-white">Smoked Shredded Chicken</li>
        <li class="list-group-item custom-red text-white">Deep Fried Spicy Mongolian Lamb</li>
      </ul>
    </div>

    <div class="col-md-4 col-12 text-center">
      <h2 class="text-decoration-underline py-3">Soups</h2>
      <ul class="list-group">
        <li class="list-group-item custom-red text-white">Sweet Corn & Crab Meat Soup</li>
        <li class="list-group-item custom-red text-white">Sweet Corn & Chicken Soup</li>
        <li class="list-group-item custom-red text-white">Chicken & Mushroom Soup</li>
        <li class="list-group-item custom-red text-white">Won-Ton Soup</li>
        <li class="list-group-item custom-red text-white">Hot & Sour Soup</li>
        <li class="list-group-item custom-red text-white">Hot & Sour Vegetable Soup</li>
        <li class="list-group-item custom-red text-white">Chicken & Noodle Soup</li>
        <li class="list-group-item custom-red text-white">Mixed Vegetable Soup</li>
        <img src="https://res.cloudinary.com/ddwgmv42x/image/upload/v1642513333/chinese-food_jjqfhk.jpg"
          alt="authentic_chinese_food" class="py-3">
      </ul>
    </div>

    <div class="col-md-4 col-12 text-center">
      <h2 class="text-decoration-underline py-3">Popular Dishes</h2>
      <ul class="list-group">
        <li class="list-group-item custom-red text-white">Peking Duck (Whole)</li>
        <li class="list-group-item custom-red text-white">Szechuan Scallops</li>
        <li class="list-group-item custom-red text-white">The Fire of Squid</li>
        <li class="list-group-item custom-red text-white">The Angry Chicken</li>
        <li class="list-group-item custom-red text-white">Mandarin Fillets of Beef</li>
        <li class="list-group-item custom-red text-white">Beef Fillet in Black Pepper Sauce</li>
        <li class="list-group-item custom-red text-white">Hunanese Lamb</li>
        <li class="list-group-item custom-red text-white">Ox in the Season</li>
        <li class="list-group-item custom-red text-white">Crispy Shredded Beef</li>
        <li class="list-group-item custom-red text-white">Lobster</li>
        <li class="list-group-item custom-red text-white">Crab</li>
        <li class="list-group-item custom-red text-white">Sweet & Sour Prawns</li>
        <li class="list-group-item custom-red text-white">Sweet & Sour Spare Ribs</li>
        <li class="list-group-item custom-red text-white">Chicken Curry</li>
        <li class="list-group-item custom-red text-white">Singapore Rice Noodles</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}