{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center text-decoration-underline py-3">Make a Reservation</h2>
        </div>
    </div>
</div>

<div class="w-75 mx-auto py-5">
    <form class="row g-3" method="POST" action="https://formdump.codeinstitute.net/">
        <div class="col-12">
            <label for="full_name" class="form-label">Full Name</label>
            <input type="text" class="form-control text_input" name="full_name" id="full_name" required>
        </div>

        <div class="col-12">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control text_input" name="email_address" id="email" required>
        </div>

        <div class="col-12">
            <label for="phone" class="form-label">Telephone Number</label>
            <input type="tel" class="form-control" id="phone" name="phone" required>
        </div>

        <div class="col-6">
            <label for="date">Select a Date:</label>
            <input type="date" class="form-control" id="date" name="date">
        </div>

        <div class="col-6">
            <label for="time">Select a time:</label>
            <input type="time" class="form-control" id="appt" name="appt">
        </div>

        <div class="col-6 mx-auto">
            <label for="guest_count">Number of guests:</label>
            <input type="number" class="form-control" id="guest_count" name="guest_count" min="1" max="10">
        </div>

        <div class="col-12 text-center">
            <button type="submit" class="btn custom-red text-white">Make Reservation</button>
        </div>
    </form>

        <div class="container">
            <div class="row w-75 mx-auto">
                <div class="col-6">
                    <button type="button" class="btn btn-danger mx-auto mt-5 d-block">
                        <a class="nav-link text-white" href="{% url 'home' %}">Edit Profile</a>
                    </button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-danger mx-auto mt-5 d-block">
                        <a class="nav-link text-white" href="{% url 'home' %}">My Bookings</a>
                    </button>
                </div>
            </div>
        </div>



        {%endblock%}